<ul class="list-inline text-center">
  <% ["cyril", "loan"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
